.someData{
    max-width:768px;
    height:150px;
    display:none;
    padding: 1%;
    
}

#first{
    background:#4CAF50;
}

#second{
    background:orange;
}
.activeTab{
    display:block;
}


.hide {
    display: none;
  }
  p {
    font-weight: bold;
  }
  .bg-salmon{
    background: blue;
  }
  .carousel-caption{color: #000;}
  .active {
    background-color: green
  }
  .active{color: #4CAF50 ;}